<!DOCTYPE html>
<html>
    <head>
        <title>Pagina animales</title>
    </head>
    <body>

        <h1>Bienvenidos protectora</h1>
        <p>Esto es protectora.</p>

        {% for Protectora in protectora_mostrar %}
            <article>
                <!--Mostramos información de dicho atributo del objeto Post.-->
                <p>{{Protectora.Nombre}}</p>
                <p>{{Protectora.Descripcion }}</p>
                <p>{{Protectora.Fecha_creacion}}</p>
    
                <p>{{protectora.text|linebreaksbr}}</p>
            </article>
        {%  endfor %}
</body>
</html> 